<h1><%= @tweet.content %></h1>
- <a href="/users/<%= @tweet.user.slug %>"><%= @tweet.user.username %></a>

<br><br>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" id="Delete Tweet" value="Delete Tweet">
</form>
